target-version = "py312"
line-length = 100
exclude = [
    ".venv",
    "__pycache__",
]

[lint]
select = ["E", "F", "I", "UP", "B"]

[format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
